{{#contentRef}}
<div class="credit-card-full-description">
    <table class="main">
        <tr>
            <td>
                <p class="motto">{{sellingMotto}}</p>
                <p><span style="color:#272727;font-size:18px">This card is for customers with</span> {{minCreditLevel}}</p>
            </td>
            <td class="picture">
                {{#image}}
                    <img src="{{path}}" />
                {{/image}}
            </td>
        </tr>
    </table>
    <table>
        <tr>
            {{#buyingReasons}}
            <td class="buying-reason">
                {{#icon}}
                    <img src="{{path}}" />
                {{/icon}}
                <div class="header">
                    {{title}}
                </div>
                {{description}}
            </td>
            {{/buyingReasons}}
        </tr>
    </table>
   
    

    
    
</div>
{{/contentRef}}