<div ng-controller="MainCtrl as mainCtrl">
    <!-- loading message -->
    <div ng-if="!mainCtrl.feedChannelData">Feed not loaded yet!</div>
    <!-- feed renderer -->
    <div ng-if="mainCtrl.feedChannelData">
        <pre class="hidden">{{mainCtrl.feedChannelData.item}}</pre>
        <h3>{{mainCtrl.feedChannelData.title}}</h3>
        <p>{{mainCtrl.feedChannelData.description}}</p>

        <div ng-repeat="article in mainCtrl.feedChannelData.item track by $index">
            <h4>{{ article.title }}</h4>
            <!-- use "ng-bind-html" directive to render raw html content -->
            <p ng-bind-html="article.description"></p>
            <p>Published <em>{{ article.pubDate }}</em> by <em>{{ article['dc:creator']['#text'] }}</em></p>
        </div>
    </div>
</div>