<div class="be-ex-article">

	<!-- Render widget properties -->
	<div title="{{title}}">
		{{title}}
	</div>
	<!--
		Note: property tag should be on separate line (line break between <div> tag and content)
			: should alway use double mustache notation
	-->

	<!-- image, editorial template should not contain other attributes with mistache -->
	<img src="{{image.path}}" />

	<!-- metadata -->
	<div class="be-ex-title">{{article.bb:title}}</div>
	<!--
		Additionally, other metadata tags are available:
			- article.bb:subTitle
			- article.bb:description
	-->
	<!--
		You can use triple mustache notation to allow rich text editing.
		Div's content shouldn't contain any whitespaces or line breaks
	-->

	<!-- article.content -->
	<div class="be-ex-content">{{{article.content}}}</div>

	<!-- link with attributes -->
	<p class="be-ex-readmore">
		<a href="{{link.path}}" title="{{text.bb:title}}">{{text.content}}</a>
	</p>

</div>
